@import "base";

// Some defaults ------------------
*,*:before,*:after {
  box-sizing: border-box;
}
html,body {
  min-height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: $salmon;
  background: linear-gradient($white 0%, $salmon 100%);
  -webkit-backface-visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.container {
  @include container(90em);
  padding-left: $pad;
  padding-right: $pad;
}

// Links

a {
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

// Layout -----------------------

/* Header */
header {
  text-align: center;
  h1 {
    color: $red;
    @include font-size(2);
    line-height: 1em;
    @include medium {
      @include font-size(3);
    }
    @include fadeInDown();
  }
}

// Carousel
.profiles {
  padding: 0 0 2em 0;
 @include large {
   overflow: hidden;
 }
}
.owl-theme {
  padding-bottom: 10px;
  .item {
    img {
      box-sizing:border-box;
      border: solid 1px $black;
      @include z-depth(1);
    }
  }
}


// Panel

.panel {
  @extend %clearfix;
  box-sizing: border-box;
  @include container(40em);
  background-color: $white;
  background-color: rgba($white, 0.7);
  padding: 15px;
  @include medium {
    padding: 50px;
  }
  border-radius: 5px;
  border: solid 1px $black;
  margin-bottom: 1em;
  &--thanks {
    margin-top:10%;
    text-align: center;
  }
}

.panel-image {
  width: span(12 of 12);
  @include medium {
    float: left;
    width: span(3 of 12);
  }
  img {
    @extend %responsive-img;
    border: solid 1px $red;
    max-width: 200px;
    margin-bottom: $pad;
}
}
.panel-info {
  width: span(12 of 12);
  margin-bottom: $pad;
  @include medium {
    float: right;
    width: span(8 of 12);
  }
}

.buttons {
  text-align: right;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  padding:10px;
  margin: 0 0 10px 0;
  border: solid 1px $black;
  color: $black;
  @include medium {
    @include font-size(1.5);
  }
}
textarea::placeholder  {
  color: $black
}

.home-link, .post-message {
  color: $red;
}

.home-link {
  display: block;
  padding: 10px;
}
